<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <documentation>
        Unittest library run plugin, allows you to run your unittests.
    </documentation>

    <arg name="-android" type="void">
        <documentation>
            Specifies that you want to run your tests on android.
        </documentation>
    </arg>

    <arg name="-ios" type="void">
        <documentation>
            Specifies that you want to run your tests on ios.
        </documentation>
    </arg>

	<arg name="-path" type="string">
        <documentation>
            Specfies the path to your apk file. By default it searches for "Export/android/bin/bin/APPLICATION_NAME-release.apk"
        </documentation>
    </arg>

    <arg name="-port" type="int">
        <documentation>
            Define a port number to be used by unittest.TestHTTPLogger and Python test result listener.
        </documentation>
    </arg>

    <arg name="-simulator" type="void">
        <documentation>
            Set this flag if you want to run the iOS unit tests in the simulator.
        </documentation>
    </arg>    

    <arg name="-wipeemulator" type="void">
        <documentation>
            Use this if you want to wipe the user data with the start of the emulator.
        </documentation>
    </arg>
</plugin>